@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Baskerville";
}

@layer components {
  #__next,
  #__next > div {
    @apply h-full;
  }
  html,
  body {
    @apply h-full;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
